<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 th:text="${userDto}"></h1>
<form method="get" th:action="@{/location}">
    <label>Location:
        <input type="text" th:name="'city'"/>
    </label>
</form>
<div th:each="forecast : ${forecastList}">
    <form method="post" th:action="@{/location}">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" th:name="lon" th:value="*{forecast.lon}"/>
        <input type="hidden" th:name="lat" th:value="*{forecast.lat}"/>
        <div th:text="${forecast}"></div>
        <input type="submit" value="Remove"/>
    </form>
</div>
</body>
</html>
