<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
</head>
<body>
<h1>Location page</h1>
<form method="get" th:action="@{/location}">
    <label>Location:
        <input type="text" th:name="'city'"/>
    </label>
</form>

<div th:each="location : ${locations}">
    <form style="border: 1px solid black" th:action="@{/location}" th:object="${locationDto}" method="post">
        <input type="hidden" th:field="*{name}" th:value="${location.name}" />
        <input type="hidden" th:field="*{state}" th:value="${location.state}" />
        <input type="hidden" th:field="*{country}" th:value="${location.country}" />
        <input type="hidden" th:field="*{lon}" th:value="${location.lon}" />
        <input type="hidden" th:field="*{lat}" th:value="${location.lat}" />
        <div th:text="'Debug: ' + ${location}"></div> <!-- Add for debugging -->
        <input type="submit" value="Save" />
    </form>
</div>
</body>
</html>
