<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
</head>
<body>
<h1>Location page</h1>
<form method="get" th:action="@{/location}">
    <label>Location:
        <input type="text" th:name="'city'"/>
    </label>
</form>

<div th:each="location : ${locations}">
    <form style="border: 1px solid black" th:action="@{/location}" method="post">
        <input type="hidden" name="name" th:value="${location.name}" />
        <input type="hidden" name="state" th:value="${location.state}" />
        <input type="hidden" name="country" th:value="${location.country}" />
        <input type="hidden" name="lon" th:value="${location.lon}" />
        <input type="hidden" name="lat" th:value="${location.lat}" />
        <div th:text="${location}"></div>
        <input type="submit" value="Save" />
    </form>
</div>
</body>
</html>
