<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration Page</h1>
<form method="post" th:action="@{/registration}" th:object="${userDto}">
    <label>Login:
        <input type="text" th:field="*{login}"/>
    </label>
    <br/>
    <label>Password:
        <input type="password" th:field="*{password}"/>
    </label>
    <br/>
    <input type="submit" name="Submit">
</form>
</body>
</html>